<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]--> 
 <script src="assets/js/jquery.js"></script>
    <script>
  $(document).ready(function(){
  var choosen=0;
  
   $("#class1").mouseenter(function(){
    $("#class1").html('<img src="assets/img/stars2.png">');
	$("#class2").html('<img src="assets/img/stark2.png">');
	$("#class3").html('<img src="assets/img/stark2.png">');
	$("#class4").html('<img src="assets/img/stark2.png">');
	$("#class5").html('<img src="assets/img/stark2.png">');
	 $("#classesdescription").html('This website is awful');
  
  if($("#classesdescription").text()=='This website is awful'){
  $("#class1").click(function(){
    $("#class1").html('<img src="assets/img/stars2.png">');
	$("#class2").html('<img src="assets/img/stark2.png">');
	$("#class3").html('<img src="assets/img/stark2.png">');
	$("#class4").html('<img src="assets/img/stark2.png">');
	$("#class5").html('<img src="assets/img/stark2.png">');
	 $("#classesdescription").html('This website is awful');
     choosen=1;
	 
  });
  }else{
   $("#class1").mouseleave(function(){
   $("#class1").html('<img src="assets/img/stark2.png">');
   $("#class2").html('<img src="assets/img/stark2.png">');
   $("#classesdescription").html('');
  });
  }
  });  
  
   $("#class2").mouseenter(function(){
    $("#class1").html('<img src="assets/img/stars2.png">');
	$("#class2").html('<img src="assets/img/stars2.png">');
	$("#class3").html('<img src="assets/img/stark2.png">');
	$("#class4").html('<img src="assets/img/stark2.png">');
	$("#class5").html('<img src="assets/img/stark2.png">');
	 $("#classesdescription").html('This website is not good');
  
  if($("#classesdescription").text()=='This website is not good'){
  $("#class2").click(function(){
    $("#class1").html('<img src="assets/img/stars2.png">');
	$("#class2").html('<img src="assets/img/stars2.png">');
	$("#class3").html('<img src="assets/img/stark2.png">');
	$("#class4").html('<img src="assets/img/stark2.png">');
	$("#class5").html('<img src="assets/img/stark2.png">');
	 $("#classesdescription").html('This website is not good');
     choosen=2;
	 
  });
  }else{
   $("#class2").mouseleave(function(){
   $("#class1").html('<img src="assets/img/stark2.png">');
   $("#class2").html('<img src="assets/img/stark2.png">');
   $("#classesdescription").html('');
  });
  }
  });

  $("#class3").mouseenter(function(){
    $("#class1").html('<img src="assets/img/stars2.png">');
	$("#class2").html('<img src="assets/img/stars2.png">');
	$("#class3").html('<img src="assets/img/stars2.png">');
	$("#class4").html('<img src="assets/img/stark2.png">');
	$("#class5").html('<img src="assets/img/stark2.png">');
	 $("#classesdescription").html('This website is so so');
  
  if($("#classesdescription").text()=='This website is so so'){
  $("#class3").click(function(){
  $("#class1").html('<img src="assets/img/stars2.png">');
	$("#class1").html('<img src="assets/img/stars2.png">');
	$("#class2").html('<img src="assets/img/stars2.png">');
	$("#class3").html('<img src="assets/img/stars2.png">');
	$("#class4").html('<img src="assets/img/stark2.png">');
	$("#class5").html('<img src="assets/img/stark2.png">');
	 $("#classesdescription").html('This website is so so');
	 choosen=3;
	
  });
  }else{
    $("#class3").mouseleave(function(){
   $("#class1").html('<img src="assets/img/stark2.png">');
   $("#class2").html('<img src="assets/img/stark2.png">');
   $("#class3").html('<img src="assets/img/stark2.png">');
   $("#classesdescription").html('');
  });
  }
  
  });

  $("#class4").mouseenter(function(){
   $("#class1").html('<img src="assets/img/stars2.png">');
	$("#class2").html('<img src="assets/img/stars2.png">');
	$("#class3").html('<img src="assets/img/stars2.png">');
	$("#class4").html('<img src="assets/img/stars2.png">');
	$("#class5").html('<img src="assets/img/stark2.png">');
	 $("#classesdescription").html('This website is good');
  
    if($("#classesdescription").text()=='This website is good'){
     $("#class4").click(function(){
	$("#class1").html('<img src="assets/img/stars2.png">');
	$("#class2").html('<img src="assets/img/stars2.png">');
	$("#class3").html('<img src="assets/img/stars2.png">');
	$("#class4").html('<img src="assets/img/stars2.png">');
	$("#class5").html('<img src="assets/img/stark2.png">');
	 $("#classesdescription").html('This website is good');
	 choosen=4;
	
	 });
  }else{
   $("#class4").mouseleave(function(){
   $("#class1").html('<img src="assets/img/stark2.png">');
   $("#class2").html('<img src="assets/img/stark2.png">');
   $("#class3").html('<img src="assets/img/stark2.png">');
   $("#class4").html('<img src="assets/img/stark2.png">');
   $("#classesdescription").html('');
  });
  }
  });
 
   $("#class5").mouseenter(function(){
   $("#class1").html('<img src="assets/img/stars2.png">');
	$("#class2").html('<img src="assets/img/stars2.png">');
	$("#class3").html('<img src="assets/img/stars2.png">');
	$("#class4").html('<img src="assets/img/stars2.png">');
	$("#class5").html('<img src="assets/img/stars2.png">');
	 $("#classesdescription").html('This website is excellent');
  if($("#classesdescription").text()=='This website is excellent'){
     $("#class5").click(function(){
   $("#class1").html('<img src="assets/img/stars2.png">');
	 $("#class2").html('<img src="assets/img/stars2.png">');
	 $("#class3").html('<img src="assets/img/stars2.png">');
	 $("#class4").html('<img src="assets/img/stars2.png">');
	 $("#class5").html('<img src="assets/img/stars2.png">');
	 $("#classesdescription").html('This website is excellent');
	 choosen=5;
	 
	 });
  }else{
    $("#class5").mouseleave(function(){
   $("#class1").html('<img src="assets/img/stark2.png">');
   $("#class2").html('<img src="assets/img/stark2.png">');
   $("#class3").html('<img src="assets/img/stark2.png">');
   $("#class4").html('<img src="assets/img/stark2.png">');
   $("#class5").html('<img src="assets/img/stark2.png">');
   $("#classesdescription").html('');
  });
  }
  });

 //check input
 $("#submitbtn").click(function(){
    $("#warning").html('');
   if(choosen!=0){
   alert('successful');
   //add code here to POST data to API
   }else{
   $("#warning").html('Please select a scalar!');
   }
	  
	 });
  
});
  </script>
  
  
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
     <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>DOCK Liverpool</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->		





					
</div>

				</ul>
                <!--  notification end -->			
			</div>
            		
				
	
			
			<div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    
	<li><div class="search d7">
	<form name="searchform" method="post" action="">
	  <input type="text" placeholder="Search..." name="searchcontent">
	  <button type="submit"></button>
	</form>
</div></li>
					<li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">T15-Tricycle</h5>
              	  	
                  <li class="mt">
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
			

                   	  <li class="singlemt">
                      <a class="" href="profile2.html">
                          <i class="fa fa-smile-o"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Module</span>
                      </a>
                      <ul class="sub">
                          
                          <li><a  href="module.html#lectures">Lectures</a></li>
                          <li><a  href="module.html#lab">Lab/Tutorials</a></li>
						  <li><a  href="module.html#assessment">Assessments</a></li>
						  <li><a  href="module.html#forum">Forum</a></li>
						  <li><a  href="module.html#votingpoll">Votingpoll</a></li>
                      </ul>
                  </li>
				  
				  
				  	  <li class="singlemt">
                      <a class="" href="calendar.html">
                          <i class="fa fa-calendar"></i>
                          <span>Timetable</span>
                      </a>
                  </li>
				  
				  
				  
				  
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-signal"></i>
                          <span>Marks</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="blank.html">Blank Page</a></li>
                          <li><a  href="login.html">Login</a></li>
                          <li><a  href="lock_screen.html">Lock Screen</a></li>
                      </ul>
                  </li>
                 
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cloud"></i>
                          <span>DOCK cloud</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="Repostory.html">File list</a></li>
                          <li><a  href="uploadfile.html">uploadfile</a></li>
                      </ul>
                  </li>
                 

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          			
			<h3><i class="fa fa-angle-right"></i>Application Feedback</h3>
          	
			<!-- Header-->
			<div class="row mt" style="padding-top:20px;">
          	<div class="col-lg-12">
			<h4><i class="fa fa-angle-right"></i>  Please select a scalar for this website</h4>			
			<center>
			<div id="class1" class="applicationstars"><img src="assets/img/stark2.png"></div>
			<div id="class2" class="applicationstars"><img src="assets/img/stark2.png"></div>
			<div id="class3" class="applicationstars"><img src="assets/img/stark2.png"></div>
			<div id="class4" class="applicationstars"><img src="assets/img/stark2.png"></div>
			<div id="class5" class="applicationstars"><img src="assets/img/stark2.png"></div>
          	<div id="classesdescription" class="classesdescription"></div>
			</center>
			
			</div>
          	</div>
			
			
			
			
			
			<!-- Profile row-->
			<div class="row mt" style="padding-top:20px;">
          	<div class="col-lg-12">
          	<h4><i class="fa fa-angle-right"></i>  Please enter your recommand below: </h4>	
			<center>
			<textarea id="modulefeedbacktext" placeholder="Please enter your recommand here.." ></textarea>			
          	<center>
			
			</div>
	        </div>
			
			
			
			
		
			
			<!-- Profile row-->
			<div class="row mt">
          	<div class="col-lg-12">
          	<center>
			<button id="submitbtn" class="btn btn-theme btn-block" href="#" type="submit" style="width:200px">submmit</button>
            <div id="warning" style="red"></div>			
          	</center>
			</div>			
			</div>
			
			
			

			
		</section><!--/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
             T15-Tricycle COMP208 Group project
              <a href="blank.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->


	<script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

	
	
	
	

    <!--script for this page-->
   <script type="text/javascript" src="assets/js/startScore.js"></script>  
  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>
  




  </body>
</html>
