<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Index-DOCK Liverpool</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">    
    
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <script src="assets/js/chart-master/Chart.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="assets/js/jquery.js"></script>
    <script>
	 var baseurl = "http://www.shoujiafeng.com/LiverpoolDock/";
	 $(document).ready(function () {
	 	$.getJSON(baseurl + "API/gethomepage.php", function (data, Status) {
	 		var gethomepage = [data]; //store data in string gethomepage
	 		$("#ownportrait").attr('src', gethomepage[0].path);
	 		$("#ownname").html(gethomepage[0].name);

	 	});

	 	$.getJSON(baseurl + "API/moduleList2.php", function (data, Status) {
	 		var getmodulelist = data; //store data in string gethomepage
	 		for (index = 0; index < 9; index++) {
	 			$("#module" + index).html(getmodulelist[index].code + " - " + getmodulelist[index].name);
	 			$("#module" + index).attr('href', "module.html?code=" + getmodulelist[index].code);
	 		}

	 	});

	 	$.getJSON(baseurl + "API/notification.php", function (data, Status) {
	 		var getnotificationbody = data; //store data in string gethomepage


	 		for (index = 0; index < 8; index++) {
	 			var getnotificationtopic = getnotificationbody[index].topic;
	 			var forumindicator = "";
	 			if (getnotificationtopic.forum == "G") {
	 				forumindicator = "General";
	 			} else {
	 				forumindicator = "Assessment";
	 			}
	 			$("#notibody" + index).html("<muted>" + getnotificationbody[index].time + "</muted><br/><a href='#'>" + getnotificationbody[index].name + "</a> " + getnotificationbody[index].type + " at forum: " + getnotificationtopic.code + " " + forumindicator + ". Topic id: " + getnotificationtopic.id);
	 			//$("#notibody"+index).attr('href',"profile.html?code="+getmodulelist[index].code);
	 		}

	 	});

	 });
    
    
    
    </script>
    
    <script>   
   
    $.getJSON(baseurl + "API/getMessage.php", function (data, Status) {
	 		var getmessage = data; //store data in string gethomepage
	 		for (index = 0; index < 4; index++) {
	 			$("#msgfrom" + index).html(getmessage[index].from);
	 			$("#msgtime" + index).html(getmessage[index].time);
        $("#msgcontent" + index).html(getmessage[index].content);
        
        
    	$.getJSON(baseurl + "API/gethomepage.php?email="+, function (data, Status) {
	 		var getphoto = [data]; //store data in string gethomepage	 	     	
	 			$("#msgphoto"+index).attr('src', getphoto[index].path);
	 	});
        
        
        
        
        
         
	 		}

	 	});
    </script>
    
    
    
    
 <script language="javascript" type="text/javascript"> 
function searchingclick(){
 var searchingcontent = document.getElementById("searchingcontent").value;
 var searchingurl = "http://www.shoujiafeng.com/LiverpoolDock/View/searchingresult.html?name="+searchingcontent;
 window.location.href=searchingurl; 
 }
</script> 
    
    
    
    
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>DOCK Liverpool</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p id="messagesnumber" class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img id="msgphoto0" alt="avatar" src="assets/img/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span id="msgfrom0" class="from">Zac Snider</span>
                                    <span id="msgtime0" class="time">Just now</span>
                                    </span>
                                    <span id="msgcontent0" class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img id="msgphoto1" alt="avatar" src="assets/img/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span id="msgfrom1" class="from">Divya Manian</span>
                                    <span id="msgtime1" class="time">40 mins.</span>
                                    </span>
                                    <span id="msgcontent1" class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img id="msgphoto2" alt="avatar" src="assets/img/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span id="msgfrom2" class="from">Dan Rogers</span>
                                    <span if="msgtime2" class="time">2 hrs.</span>
                                    </span>
                                    <span id="msgcontent2" class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img id="msgphoto3" alt="avatar" src="assets/img/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span id="msgfrom3" class="from">Dj Sherman</span>
                                    <span id="msgtime3" class="time">4 hrs.</span>
                                    </span>
                                    <span id="msgcontent3" class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->		





					
</div>

				</ul>
                <!--  notification end -->			
			</div>
            		
				
	
			
			<div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    
	<li><div class="search d7">
	<form name="searchform" action="">
	  <input id="searchingcontent" type="text" placeholder="Search..." name="searchcontent">	  
	</form>
	<button onclick="searchingclick()"></button>
</div></li>
					<li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img id="ownportrait" src="" class="img-circle" width="60"></a></p>
              	  <h5 id="ownname" class="centered"></h5>
              	  	
                  <li class="mt">
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
			

                   	  <li class="singlemt">
                      <a class="" href="http://www.shoujiafeng.com/LiverpoolDock/View/profile.html">
                          <i class="fa fa-smile-o"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Module</span>
                      </a>
                      <ul class="sub">
                          
                          <li><a  href="http://www.shoujiafeng.com/LiverpoolDock/View/module.html">Lectures</a></li>
                          <li><a  href="http://www.shoujiafeng.com/LiverpoolDock/View/module.html">Lab/Tutorials</a></li>
						  <li><a  href="http://www.shoujiafeng.com/LiverpoolDock/View/module.html">Assessments</a></li>
						  <li><a  href="http://www.shoujiafeng.com/LiverpoolDock/View/module.html">Forum</a></li>
						  <li><a  href="http://www.shoujiafeng.com/LiverpoolDock/View/module.html">Votingpoll</a></li>
                      </ul>
                  </li>
				  
				  
				  	  <li class="singlemt">
                      <a class="" href="calendar.html">
                          <i class="fa fa-calendar"></i>
                          <span>Timetable</span>
                      </a>
                  </li>
				  
				  
				  
				  
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-signal"></i>
                          <span>Marks</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="blank.html">Blank Page</a></li>
                          <li><a  href="login.html">Login</a></li>
                          <li><a  href="lock_screen.html">Lock Screen</a></li>
                      </ul>
                  </li>
                 
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cloud"></i>
                          <span>DOCK cloud</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="Repostory.html">File list</a></li>
                          <li><a  href="uploadfile.html">uploadfile</a></li>
                      </ul>
                  </li>
                 

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">

              <div class="row">
                  <div class="col-lg-9 main-chart">
                  
                  	<div class="row mtbox">
                  							
                      	<div class="col-md-12 col-sm-12 mb">
                      		<div class="white-panel pn" style="overflow-x: hidden;">
                      			<div class="white-header">
						  			<h5 >MODULE LIST<a href="modulesearch.html" style="float:right;font-size:20px;" class="fa fa-plus-square"></a> </h5>
                      			</div>
								<div class="row">
									
									<div class="col-sm-6 col-xs-6" style="height:265px;border-right:solid 1.27px #ccc;">
									<div style="font-size:20px ;padding:5% 10% 5% 20%; text-align: left;">
									<a id="module0" href=""></a></br>
									<a id="module1" href=""></a></br>
									<a id="module2" href=""></a></br>
									<a id="module3" href=""></a></br>
									<a id="module4" href=""></a></br>
									</div>
									</div>
									<div class="col-sm-6 col-xs-6">
									<div style="font-size:20px ;padding:5% 10% 10% 20%;text-align: left;">
									<a id="module5" href=""></a></br>
									<a id="module6" href=""></a></br>
									<a id="module7" href=""></a></br>
									<a id="module8" href=""></a></br>
									<a id="module9" href=""></a></br>
									</div>
									</div>
	                      		</div>
	                      		
                      		</div>
                      	</div><!-- /col-md-4 -->
						
				<!-- Modal -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="addmodule" class="modal fade">
		                   <form  id ="headerform" action= "?" href="#">
					  <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Edit header</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Upload your new header</p>
		                     
								  <input type="file" name="header" id="header" class="form-control placeholder-no-fix" />
		                         
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
		                          <button id="headersubmmit" class="btn btn-theme" type="button">Submit</button>
		                      </div>
		                  </div>
		              </div>
 </form>		         
				 </div>
		          <!-- modal -->
						
						
						
						
						
						<!-- SERVER STATUS PANELS -->
                      	<div class="col-md-4 col-sm-4 mb">
                      		<div class="white-panel secondrowpn donut-chart">
                      			<div class="white-header">
						  			<h5>REPOSTORY USAGE</h5>
                      			</div>
								
								<div class="row">
									<div class="col-sm-6 col-xs-6 goleft">
										<p><i class="fa fa-database"></i> 70%</p>
									</div>
	                      		</div>
								<canvas id="serverstatus01" height="150" width="150"></canvas>
								<script>
									var doughnutData = [
											{
												value: 70,
												color:"#68dff0"
											},
											{
												value : 30,
												color : "#fdfdfd"
											}
										];
										var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
								</script>
								<h5>Used: 70%</h5>
	                      	</div><! --/grey-panel -->
                      	</div><!-- /col-md-4-->
					
					<div class="col-md-8 col-sm-8 mb">
                      		<div class="white-panel secondrowpn">
                      			<div class="white-header">
						  			<h5>FILE LIST</h5>
                      			</div>
								<div class="row">
									
									<div class="col-sm-6 col-xs-6"></div>
	                      		</div>
	                      		<div class="centered">
										
	                      		</div>
                      		</div>
                      	</div><!-- /col-md-4 -->
					
                  	</div><!-- /row mt -->	
                  
                  
                    				
					<div class="row">
						<!-- TWITTER PANEL -->
						<div class="col-md-6 mb">
                      		<div class="darkblue-panel thirdrowpn">
                      			<div class="darkblue-header">
						  			<h5>NEWS</h5>
                      			</div>
						<div class="col-md-12 ds" style="height:310px; overflow:auto">
								                  
                        <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>2 Minutes Ago</muted><br/>
                      		   <a href="#">James Brown</a> subscribed to your newsletter.<br/>
                      		</p>
                      	</div>
                      </div>
					  
					  
					  <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>2 Minutes Ago</muted><br/>
                      		   <a href="#">James Brown</a> subscribed to your newsletter.<br/>
                      		</p>
                      	</div>
                      </div>
					  
					  
					   <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>2 Minutes Ago</muted><br/>
                      		   <a href="#">James Brown</a> subscribed to your newsletter.<br/>
                      		</p>
                      	</div>
                      </div>
					  
					   <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>2 Minutes Ago</muted><br/>
                      		   <a href="#">James Brown</a> subscribed to your newsletter.<br/>
                      		</p>
                      	</div>
                      </div>
					  
					   </div>
					
					  
                      		</div><! -- /darkblue panel -->
						</div><!-- /col-md-4 -->
						
						
						
						
						<div class="col-md-6 mb">
							<!-- REVENUE PANEL -->
							<div class="darkblue-panel thirdrowpn">
								<div class="darkblue-header">
									<h5>DEADLINES</h5>
								</div>
								
		<div class="col-md-12 ds" style="height:310px; overflow:auto">
						
						
                      
						  
						  <div class="desc">
                      	    <div class="task-title">
                                              <span class="task-title-sp">Dashgum - Admin Panel Theme</span>
                                              <span class="badge bg-warning">10 days</span>
                                              
                                          </div>               					  
					  </div>
					 
					  	  
						   
						  <div class="desc">
                      	    <div class="task-title">
                                              <span class="task-title-sp">Dashgum - Admin Panel Theme</span>
                                              <span class="badge bg-success">1 month</span>
                                              
                                          </div>               					  
					  </div>
					 
					  	  <div class="desc">
                      	<div class="task-title">
                                              <span class="task-title-sp">Dashgum - Admin Panel Theme</span>
                                              <span class="badge bg-warning">13days</span>
                                              
                                          </div>                      					  
					  </div>
					  	  <div class="desc">
                      	<div class="task-title">
                                              <span class="task-title-sp">Dashgum - Admin Panel Theme</span>
                                              <span class="badge bg-info">Done</span>
                                              
                                          </div>                      					  
					  </div>
					  	  <div class="desc">
                      	<div class="task-title">
                                              <span class="task-title-sp">Dashgum - Admin Panel Theme</span>
                                              <span class="badge bg-important">2 hours</span>
                                              
                                          </div>                      					  
					  </div>
						
						</ul>
						
					  
					   </div>
							
							</div>
						</div><!-- /col-md-4 -->
						
						
						
					</div><!-- /row -->
					
					<div class="row mt">
                     <!-- CALENDAR-->
                        <div id="calendar" class="mb">
                            <div class="panel green-panel no-margin">
                                <div class="panel-body">
                                    <div id="date-popover" class="popover top" style="cursor: pointer; disadding: block; margin-left: 33%; margin-top: -50px; width: 175px;">
                                        <div class="arrow"></div>
                                        <h3 class="popover-title" style="disadding: none;"></h3>
                                        <div id="date-popover-content" class="popover-content"></div>
                                    </div>
                                    <div id="my-calendar"></div>
                                </div>
                            </div>
                        </div><!-- / calendar -->
					</div><!-- /row -->	
					
                  </div><!-- /col-lg-9 END SECTION MIDDLE -->
                  
                  
      <!-- **********************************************************************************************************************************************************
      RIGHT SIDEBAR CONTENT
      *********************************************************************************************************************************************************** -->                  
                  
                  <div class="col-lg-3 ds">
                    <!--COMPLETED ACTIONS DONUTS CHART-->
						<h3>NOTIFICATIONS</h3>
                                        
                      <!-- First Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p id="notibody0"><muted></muted><br/>
                      		   <a href="#"></a> <br/>
                      		</p>
                      	</div>
                      </div>
                      <!-- Second Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p id="notibody1"><muted></muted><br/>
                      		   <a href="#"></a><br/>
                      		</p>
                      	</div>
                      </div>
                      <!-- Third Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p id="notibody2"><muted></muted><br/>
                      		   <a href="#"></a><br/>
                      		</p>
                      	</div>
                      </div>
                      <!-- Fourth Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p id="notibody3"><muted></muted><br/>
                      		   <a href="#"></a>.<br/>
                      		</p>
                      	</div>
                      </div>
                      <!-- Fifth Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p id="notibody4"><muted></muted><br/>
                      		   <a href="#"></a><br/>
                      		</p>
                      	</div>
                      </div>
					  <!-- First Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p id="notibody5"><muted></muted><br/>
                      		   <a href="#"></a><br/>
                      		</p>
                      	</div>
                      </div>
					  <!-- First Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p id="notibody6"><muted></muted><br/>
                      		   <a href="#"></a><br/>
                      		</p>
                      	</div>
                      </div>
					    <!-- First Action -->
                      <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p id="notibody7"><muted></muted><br/>
                      		   <a href="#"></a><br/>
                      		</p>
                      	</div>
                      </div>

                       <!-- USERS ONLINE SECTION -->
						<h3>MESSAGES</h3>
                      <!-- First Member -->
                      <div class="desc">
                      	<div class="thumb">
                      		<img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p><a href="#">DIVYA MANIAN</a><br/>
                      		   <muted>Available</muted>
                      		</p>
                      	</div>
                      </div>
					  <!-- First Member -->
                      <div class="desc">
                      	<div class="thumb">
                      		<img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p><a href="#">DIVYA MANIAN</a><br/>
                      		   <muted>Available</muted>
                      		</p>
                      	</div>
                      </div>
					  <!-- First Member -->
                      <div class="desc">
                      	<div class="thumb">
                      		<img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p><a href="#">DIVYA MANIAN</a><br/>
                      		   <muted>Available</muted>
                      		</p>
                      	</div>
                      </div>
					  <!-- First Member -->
                      <div class="desc">
                      	<div class="thumb">
                      		<img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p><a href="#">DIVYA MANIAN</a><br/>
                      		   <muted>Available</muted>
                      		</p>
                      	</div>
                      </div>
					  <!-- First Member -->
                      <div class="desc">
                      	<div class="thumb">
                      		<img class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p><a href="#">DIVYA MANIAN</a><br/>
                      		   <muted>Available</muted>
                      		</p>
                      	</div>
                      </div>
                      <!-- Second Member -->
                      <div class="desc">
                      	<div class="thumb">
                      		<img class="img-circle" src="assets/img/ui-sherman.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p><a href="#">DJ SHERMAN</a><br/>
                      		   <muted>I am Busy</muted>
                      		</p>
                      	</div>
                      </div>
                      <!-- Third Member -->
                      <div class="desc">
                      	<div class="thumb">
                      		<img class="img-circle" src="assets/img/ui-danro.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p><a href="#">DAN ROGERS</a><br/>
                      		   <muted>Available</muted>
                      		</p>
                      	</div>
                      </div>
                      <!-- Fourth Member -->
                      <div class="desc">
                      	<div class="thumb">
                      		<img class="img-circle" src="assets/img/ui-zac.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p><a href="#">Zac Sniders</a><br/>
                      		   <muted>Available</muted>
                      		</p>
                      	</div>
                      </div>
                      <!-- Fifth Member -->
                      <div class="desc">
                      	<div class="thumb">
                      		<img class="img-circle" src="assets/img/ui-sam.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p><a href="#">Marcel Newman</a><br/>
                      		   <muted>Available</muted>
                      		</p>
                      	</div>
                      </div>

                        
                      
                  </div><!-- /col-lg-3 -->
              </div><! --/row -->
          </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              T15-Tricycle COMP208 Group project
              <a href="index.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    
   
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="assets/js/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>
    
    <script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="assets/js/gritter-conf.js"></script>

    <!--script for this page-->
    <script src="assets/js/sparkline-chart.js"></script>    
	<script src="assets/js/zabuto_calendar.js"></script>	
	
	
	
	<script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>
  

  </body>
</html>
