<script src="assets/js/jquery.js"></script>
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="assets/css/login.css">
<script src="jquery-3.2.1.min.js"></script>
<script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.js"></script>  
<script >
$(document).ready(function(){

});


$(document).ready(function(){
			$(".veen .rgstr-btn button").click(function(){
				$('.veen .wrapper').addClass('move');
				$('.body').css('background','#68dff0');
			});
			$(".veen .login-btn button").click(function(){
				$('.veen .wrapper').removeClass('move');
				$('.body').css('background','#e0b722');
			});
		});

$(window).on("load", function() { // makes sure the whole site is loaded
    //preloader
    $("#status").fadeOut(); // will first fade out the loading animation
    $("#preloader").delay(450).fadeOut("slow"); // will fade out the white DIV that covers the website.
    
    //masonry
    $('.grid').masonry({
      itemSelector: '.grid-item'
      
    });    
  });

function login1(){
        temp = document.getElementById('loginpassword').value;
        document.getElementById('loginpassword').value = md5(md5(temp)+md5(temp));
	      document.form1.action = "../Controller/login.php";
	      document.form1.submit();
	  }
	  function register(){
	     
        document.form2.action = "../Controller/register.php";
	      document.form2.submit();
	  }
	  //function forgetpass(){
          //document.form1.action = "../Controller/reset.php";
          //document.form1.submit();
	  //}
</script>
<div id="preloader">
      <div id="status">
        
      </div>
    </div>

  <section id="container" >


<div class="body">


  <div class="veen">




    <div class="login-btn splits">
      <p>Already an user?</p>
      <button>Login</button>
    </div>




    <div class="rgstr-btn splits">
      <p>Don't have an account?</p>
      <button>Register</button>
    </div>




    <div class="wrapper">




      <div id="login">
        <h3>Login</h3>
        <div id="login-input" class="inputinfo">
      <div class="col-md-9 content-right">
                <form name="form1" method="post" action="../Controller/login.php">
                  <div class="group">
                    <input required="" type="text" name="loginemail"><span class="highlight"></span><span class="bar"></span><label>Email</label>
                  </div>
                  <div class="group">
                    <input id ="loginpassword" required="" type="password" name="loginpassword"><span class="highlight"></span><span class="bar"></span><label>Password</label>
                  </div>
                </form>
                <div class="submit">
          <button class="dark" onclick="login1()">Login</button>
        </div>
              </div>
              </div>      
      </div>




      <div id="register">
        <h3>Register</h3>
        <div id="register-input" class="inputinfo">
        <div class="col-md-9 content-right">
                <form name="form2" method="post" action="../Controller/login.php">
                <div id="registername">
                  <div id="givennameinput" class="group">
                    <input required="" type="text" name="givenname" onblur="GivennameCheck()"><span class="highlight"></span><span class="bar"></span><label>Given Name</label>
                  </div>
                  <div id="surnameinput" class="group">
                    <input required="" type="text" name="surname" onblur="SurnnameCheck()"><span class="highlight"></span><span class="bar"></span><label>Surname</label>
                  </div>
                  </div>
                  <div id="emailinput" class="group">
                    <input required="" type="text" name="email" onblur="EmailCheck()"><span class="highlight"></span><span class="bar"></span><label>Email</label>
                  </div>
                  <div class="group">
                    <input required="" type="password" name="password" onblur="PasswordCheck()"><span class="highlight"></span><span class="bar"></span><label>Password</label>
                  </div>
                  <div class="group">
                    <input required="" type="password"><span class="highlight" onblur="PasswordConfirm()"></span><span class="bar"></span><label>Re-enter Password</label>
                  </div>
                </form>
                <div class="submit">
          <button class="dark" onclick="register();">Register</button>
        </div>
        </div>
              </div>
      </div>





    </div>
  </div>
</div>


<script type="text/javascript" src="assets/js/login.js"></script>	 