<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>DASHGUM - Bootstrap Admin Template</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  
  
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>DOCK Liverpool</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->		





					
</div>

				</ul>
                <!--  notification end -->			
			</div>
            		
				
	
			
			<div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    
	<li><div class="search d7">
	<form name="searchform" method="post" action="">
	  <input type="text" placeholder="Search..." name="searchcontent">
	  <button type="submit"></button>
	</form>
</div></li>
					<li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">T15-Tricycle</h5>
              	  	
                  <li class="mt">
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
			

                   	  <li class="singlemt">
                      <a class="" href="profile2.html">
                          <i class="fa fa-smile-o"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Module</span>
                      </a>
                      <ul class="sub">
                          
                          <li><a  href="module.html#lectures">Lectures</a></li>
                          <li><a  href="module.html#lab">Lab/Tutorials</a></li>
						  <li><a  href="module.html#assessment">Assessments</a></li>
						  <li><a  href="module.html#forum">Forum</a></li>
						  <li><a  href="module.html#votingpoll">Votingpoll</a></li>
                      </ul>
                  </li>
				  
				  
				  	  <li class="singlemt">
                      <a class="" href="calendar.html">
                          <i class="fa fa-calendar"></i>
                          <span>Timetable</span>
                      </a>
                  </li>
				  
				  
				  
				  
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-signal"></i>
                          <span>Marks</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="blank.html">Blank Page</a></li>
                          <li><a  href="login.html">Login</a></li>
                          <li><a  href="lock_screen.html">Lock Screen</a></li>
                      </ul>
                  </li>
                 
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cloud"></i>
                          <span>DOCK cloud</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="Repostory.html">File list</a></li>
                          <li><a  href="uploadfile.html">uploadfile</a></li>
                      </ul>
                  </li>
                 

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          			
			<h3><i class="fa fa-angle-right"></i> USER PAGE</h3>
          	
			<!-- Header-->
			<div class="row mt">
          		<div class="col-lg-12">
          			<p class="centered"><a  data-toggle="modal" href="profile2#editheader"><img src="assets/img/ui-sam.jpg" class="img-circle" width="100"></a></p>
              	  <h4 class="centered">T15-Tricycle</h5>		
          		</div>
          	</div>
			
			
			
			
			
			<!-- Profile row-->
			<div class="row mt">
          		<div class="col-lg-7">
          		<div class="white-panel profilepn" style="overflow-x: hidden;">
                      			<div class="blue-header">
						  	   
								<a id="profilebutton" class="fa fa-cog" data-toggle="modal" href="profile2#editprofile"></a><h4 style="fload:left;">Profile</h4>
                     			</div>
								<div class="row" style="font-size:15px;color:#797979;">
							<p id="profile">4654546546565465</p>		
							
	                   </div>          		
                    </div>				
          		</div>
          	<div class="col-lg-5">
          		<div class="white-panel profilepn" style="overflow-x: hidden;">
                      			<div class="blue-header" >
						  			<a class="fa fa-cog" data-toggle="modal" href="profile2#editcontect"></a><h4>Contect</h4>
                      			</div>
							<div class="row" style="color:#797979;">
							<ul class="social-icons">
							<li><a class="fa fa-envelope"></a> Email: </li>
							<li><a class="fa fa-facebook"></a> Facebook: </li>
							<li><a class="fa fa-google-plus"></a> Google+: </li>
							<li><a class="fa fa-linkedin"></a> Linkedin: </li>
							<li><a class="fa fa-twitter"></a> Twitter: </li>
							<li><a class="fa fa-github"></a> Github: </li>
							</ul>
	                   </div>          		
                    </div>				
          		</div>
			
			
			
			
			</div>
			
						<!-- Profile row-->
			<div class="row mt">
          		<div class="col-lg-5">
          		<div class="white-panel profilepn" style="overflow-x: hidden;">
                      			<div class="blue-header">
						  			<a class="fa fa-cog" data-toggle="modal" href="profile2#editeducation"></a><h4>Education</h4>
                      			</div>
								<div class="row" style="font-size:15px;color:#797979;">
							<p id="education">4654546546565465</p>		
							
	                   </div>          		
                    </div>				
          		</div>
          	<div class="col-lg-7">
          		<div class="white-panel profilepn" style="overflow-x: hidden;">
                      			<div class="blue-header" >
						  			<a class="fa fa-cog" data-toggle="modal" href="profile2#editexperiences"></a><h4>Experiences and Skills</h4>
                      			</div>
								<div class="row" style="font-size:15px;color:#797979;">
							<p id="experience">4654546546565465</p>		
							
	                   </div>          		
                    </div>				
          		</div>
			
			
			
			
			</div>
			
			
			  <!-- Modal -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="editprofile" class="modal fade">
 <form  id ="profileform" action= "?" href="#">		             
					 <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Edit Profile</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Please edit your profile below</p>
		                         
								  <textarea type="text" id="profilemodal" class="form-control placeholder-no-fix">6666666</textarea>
		                          
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
		                          <button class="btn btn-theme" type="button">Submit</button>
		                      </div>
		                  </div>
		              </div>
		          </form>
				  </div>
		          <!-- modal -->
				  
				    <!-- Modal -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="editcontect" class="modal fade">
		              <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Edit Contect</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Enter your e-mail address below to reset your password.</p>
		                          <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
		
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
		                          <button class="btn btn-theme" type="button">Submit</button>
		                      </div>
		                  </div>
		              </div>
		          </div>
		          <!-- modal -->
				  
				    <!-- Modal -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="editeducation" class="modal fade">
		               <form  id ="headerform" action= "?" href="#">
					  <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Edit Education</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Enter your edeucation below:</p>
		                          
								   <textarea type="text" id="educationmodal"  class="form-control placeholder-no-fix"></textarea>
		                           
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
		                          <button class="btn btn-theme" type="button">Submit</button>
		                      </div>
		                  </div>
		              </div>
</form>		         
				 </div>
		          <!-- modal -->
				  
				    <!-- Modal -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="editexperiences" class="modal fade">
		               <form  id ="experienceform" action= "?" href="#">
					  <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Edit Experiences and Skills</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Edit your experiences and skills below:</p>
		                         
								  <textarea type="text" id="experiencemodal"  class="form-control placeholder-no-fix"></textarea>
		                         
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
		                          <button class="btn btn-theme" type="button">Submit</button>
		                      </div>
		                  </div>
		              </div>
 </form>		         
				 </div>
		          <!-- modal -->
				  
				      <!-- Modal -->
		          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="editheader" class="modal fade">
		                   <form  id ="headerform" action= "?" href="#">
					  <div class="modal-dialog">
		                  <div class="modal-content">
		                      <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                          <h4 class="modal-title">Edit header</h4>
		                      </div>
		                      <div class="modal-body">
		                          <p>Upload your new header</p>
		                     
								  <input type="file" name="header" id="header" class="form-control placeholder-no-fix" />
		                         
		                      </div>
		                      <div class="modal-footer">
		                          <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
		                          <button id="headersubmmit" class="btn btn-theme" type="button">Submit</button>
		                      </div>
		                  </div>
		              </div>
 </form>		         
				 </div>
		          <!-- modal -->
			

			
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 - Alvarez.is
              <a href="blank.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="assets/js/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>

    <!--script for this page-->
    
  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>

<!-- fetch data from origianl information-->  
 <script>
 
var profile = document.getElementById("profile").innerHTML;
document.getElementById("profilemodal").value= profile; 

var profile = document.getElementById("profile").innerHTML;
document.getElementById("profilemodal").value= profile; 

var education = document.getElementById("education").innerHTML;
document.getElementById("educationmodal").value= education; 

var experience = document.getElementById("experience").innerHTML;
document.getElementById("experiencemodal").value= experience; 

</script> 


<!-- field name verify-->  
 <script>
$('#headersubmmit').click(function(){
var fieldname = document.getElementById("header").value;
var extensionname = fieldname.substring(fieldname.length-3);
if(extensionname=="jpg"||extensionname=="bmp"||extensionname=="png"){
alert('successful');
}else{
alert('failed');
}
});
</script> 

  </body>
</html>
