<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Searcing Result-DOCK Liverpool</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">    
    
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <script src="assets/js/jquery.js"></script>
  <script>
   var baseurl = "http://www.shoujiafeng.com/LiverpoolDock/";
   var searchingcontent = location.search;
  // alert (searchingcontent);
   $(document).ready(function () {
	 	$.getJSON(baseurl + "API/search.php"+searchingcontent, function (data, Status) {
     	var searchingresult = data; //store data in string gethomepage
	 	for (index = 0; index < 9; index++) {
	 			//$("#portrait" + index).html(searchingresult[index].code + " - " + getmodulelist[index].name);
                        
	 			$("#details" + index).html("<a href='"+baseurl+"/View/profile.html'>"+searchingresult[index].username+"</a><br/><muted>"+searchingresult[index].email+"</muted>");
	 		}

	 	});

  });
  
  
  
  
  
  </script>
  
  
  
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>DOCK Liverpool</b></a>
            <!--logo end-->
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i>
                            <span class="badge bg-theme">4</span>
                        </a>
                        <ul class="dropdown-menu extended tasks-bar">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 4 pending tasks</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">DashGum Admin Panel</div>
                                        <div class="percent">40%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Database Update</div>
                                        <div class="percent">60%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Product Development</div>
                                        <div class="percent">80%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <div class="task-info">
                                        <div class="desc">Payments Sent</div>
                                        <div class="percent">70%</div>
                                    </div>
                                    <div class="progress progress-striped">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                                            <span class="sr-only">70% Complete (Important)</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="external">
                                <a href="#">See All Tasks</a>
                            </li>
                        </ul>
                    </li>
                    <!-- settings end -->
                    <!-- inbox dropdown start-->
                    <li id="header_inbox_bar" class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="badge bg-theme">5</span>
                        </a>
                        <ul class="dropdown-menu extended inbox">
                            <div class="notify-arrow notify-arrow-green"></div>
                            <li>
                                <p class="green">You have 5 new messages</p>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Zac Snider</span>
                                    <span class="time">Just now</span>
                                    </span>
                                    <span class="message">
                                        Hi mate, how is everything?
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-divya.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Divya Manian</span>
                                    <span class="time">40 mins.</span>
                                    </span>
                                    <span class="message">
                                     Hi, I need your help with this.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-danro.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dan Rogers</span>
                                    <span class="time">2 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Love your new Dashboard.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">
                                    <span class="photo"><img alt="avatar" src="assets/img/ui-sherman.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Dj Sherman</span>
                                    <span class="time">4 hrs.</span>
                                    </span>
                                    <span class="message">
                                        Please, answer asap.
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="index.html#">See all messages</a>
                            </li>
                        </ul>
                    </li>
                    <!-- inbox dropdown end -->		





					
</div>

				</ul>
                <!--  notification end -->			
			
            		
				
	
			
			<div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    
	<li><div class="search d7">
	<form name="searchform" method="post" action="">
	  <input type="text" placeholder="Search..." name="searchcontent">
	  <button type="submit"></button>
	</form>
</div></li>
					<li><a class="logout" href="login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
              	  <p class="centered"><a href="profile.html"><img src="assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered">T15-Tricycle</h5>
              	  	
                  <li class="mt">
                      <a class="active" href="index.html">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
			

                   	  <li class="singlemt">
                      <a class="" href="profile2.html">
                          <i class="fa fa-smile-o"></i>
                          <span>Profile</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-book"></i>
                          <span>Module</span>
                      </a>
                      <ul class="sub">
                          
                          <li><a  href="module.html#lectures">Lectures</a></li>
                          <li><a  href="module.html#lab">Lab/Tutorials</a></li>
						  <li><a  href="module.html#assessment">Assessments</a></li>
						  <li><a  href="module.html#forum">Forum</a></li>
						  <li><a  href="module.html#votingpoll">Votingpoll</a></li>
                      </ul>
                  </li>
				  
				  
				  	  <li class="singlemt">
                      <a class="" href="calendar.html">
                          <i class="fa fa-calendar"></i>
                          <span>Timetable</span>
                      </a>
                  </li>
				  
				  
				  
				  
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-signal"></i>
                          <span>Marks</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="blank.html">Blank Page</a></li>
                          <li><a  href="login.html">Login</a></li>
                          <li><a  href="lock_screen.html">Lock Screen</a></li>
                      </ul>
                  </li>
                 
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-cloud"></i>
                          <span>DOCK cloud</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="Repostory.html">File list</a></li>
                          <li><a  href="uploadfile.html">uploadfile</a></li>
                      </ul>
                  </li>
                 

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      
	  <!--sidebar end-->
	  
	  
	  
	  <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper site-min-height">
          	<h3><i class="fa fa-angle-right"></i>Searching Result</h3>
          	  
			<div class="row mt" >
          		
			<div class="col-md-8 mb" style="margin-left:15%;">
                      		<div class="white-panel pn" style="height:1050px;">
                      			<div class="white-header">
						  			<h5>SEARCHING RESULT</h5>
                      			</div>
						<div class="col-md-12 ds"  >
								                  
                           <div class="desc">
                      	<div class="thumb">
                      		<span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                      	</div>
                      	<div class="details">
                      		<p><muted>2 Minutes Ago</muted><br/>
                      		   <a href="#">James Brown</a> subscribed to your newsletter.<br/>
                      		</p>
                      	</div>
                      </div>
					  
					  
					  <div class="desc">
                      	<div class="thumb">
                      		<img id="portrait1"class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p id="details1"><a href="#"></a><br/>
                      		   <muted></muted>
                      		</p>
                      	</div>
                      </div>
					  
					   <div class="desc">
                      	<div class="thumb">
                      		<img id="portrait2"class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p id="details2"><a href="#"></a><br/>
                      		   <muted></muted>
                      		</p>
                      	</div>
                      </div>
					  
					   <div class="desc">
                      	<div class="thumb">
                      		<img id="portrait3" class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p id="details3"><a href="#"></a><br/>
                      		   <muted></muted>
                      		</p>
                      	</div>
                      </div>
					  
					   <div class="desc">
                      	<div class="thumb">
                      		<img id="portrait4"class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p id="details4"><a href="#"></a><br/>
                      		   <muted></muted>
                      		</p>
                      	</div>
                      </div>
					  
					   <div class="desc">
                      	<div class="thumb">
                      		<img id="portrait5" class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p id="details5"><a href="#"></a><br/>
                      		   <muted></muted>
                      		</p>
                      	</div>
                      </div>
					  
					   <div class="desc">
                      	<div class="thumb">
                      		<img id="portrait6" class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p id="details6"><a href="#"></a><br/>
                      		   <muted></muted>
                      		</p>
                      	</div>
                      </div>
					  
					   <div class="desc">
                      	<div class="thumb">
                      		<img id="portrait7" class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p id="details7"><a href="#"></a><br/>
                      		   <muted></muted>
                      		</p>
                      	</div>
                      </div>
					  
					   <div class="desc">
                      	<div class="thumb">
                      		<img id="portrait8" class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p id="details8"><a href="#"></a><br/>
                      		   <muted></muted>
                      		</p>
                      	</div>
                      </div>
					  
					   <div class="desc">
                      	<div class="thumb">
                      		<img id="portrait9" class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p id="details9"><a href="#"></a><br/>
                      		   <muted></muted>
                      		</p>
                      	</div>
                      </div>
					  
					   <div class="desc">
                      	<div class="thumb">
                      		<img id="portrait10" class="img-circle" src="assets/img/ui-divya.jpg" width="35px" height="35px" align="">
                      	</div>
                      	<div class="details">
                      		<p id="details10"><a href="#"></a><br/>
                      		   <muted></muted>
                      		</p>
                      	</div>
                      </div>
				
					  
					   </div>
					
					  
                      		</div><!-- /darkblue panel -->
						</div><!-- /col-md-4 -->
	                  <div class="col-md-12 col-sm-12 mb">
					  <div class="row">
              					   
					   <div class="page">
             	<ul>
             		<li class="forum-votingpoll-page"><div id="arrow-left" class="fa fa-angle-left"></div></li>
             		<li class="forum-votingpoll-page"><a href="#page=1"><span>1</span></a></li>
             		<li class="forum-votingpoll-page"><span>2</span></li>
             		<li class="forum-votingpoll-page"><span>3</span></li>
             		<li class="forum-votingpoll-page"><span>4</span></li>
             		<li class="forum-votingpoll-page"><span>5</span></li>
             		<li class="forum-votingpoll-page"><span>6</span></li>
             		<li class="forum-votingpoll-page"><div id="arrow-right" class="fa fa-angle-right"></div></li>
             	</ul>
                        </div>
						
					  </div>
					</div>   
                </div>
					  
          		</div>
             
			</div>
			
		</section> <!-- /wrapper -->
      </section><!-- /MAIN CONTENT -->
	  <!--main content end-->
      
	  
	  
	  <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              T15-Tricycle COMP208 Group project
              <a href="index.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
   
    <script src="assets/js/jquery-1.8.3.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="assets/js/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>   
    <script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="assets/js/gritter-conf.js"></script>
    <!--script for this page-->
    
	
		

  </body>
</html>
