<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Title</title>
</head>
<body>
<form action="../Controller/createpoll.php" method="post" enctype="multipart/form-data">
    <input type="text" name="option[3]"/><br/>
    <input type="text" name="option[6]"/><br/>
    <input type="text" name="token"/><br/>
    <input type="text" name="code"/><br/>
    <input type="text" name="title"/><br/>
    <input type="submit" value="upload"/>
</form>
</body>
</html>